<template>
    <div class="<%= data.lowerName %>">

    </div>
</template>
<script>
    export default {
        name: '<%= data.lowerName %>',
        props: {

        },
        data() {
            return {}
        },
        methods: {}
    }
</script>
<style scoped>

</style>